# Python virtual environments
backend/venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local databases
*.sqlite
*.sqlite3

# Node
node_modules/

# Build folders
dist/
build/
